* {
  box-sizing: border-box;
}

.group {
  padding: 2em;
}

.input-number {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 40px;
  width: 200px;
}

.input-number input {
  border: none;
  display: inline-block;
  height: 100%;
  padding: 0 10px;
  outline: none;
  position: relative;
  width: calc(100% - 40px);
}

.input-number-increment,
.input-number-decrement {
  background-color: white;
  border: 0;
  border-left: 1px solid #e6ebee;
  cursor: pointer;
  display: block;
  outline: none;
  position: absolute;
  width: 25px;
  height: 50%;
  text-align: center;
  right: 0;
}

.input-number-increment:hover:before {
  border-bottom-color: #0073ba;
}

.input-number-decrement:hover:before {
  border-top-color: #0073ba;
}

.input-number-increment {
  border-bottom: 1px solid #e6ebee;
  top: 0;
}

.input-number-decrement {
  bottom: 0;
}

.input-number-increment:before,
.input-number-decrement:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.input-number-increment:before {
	border-bottom: 5px solid #0ca6f2;
}

.input-number-decrement:before {
	border-top: 5px solid #0ca6f2;
}